<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark blue-gradient">

    <mdb-navbar-brand>
      <a class="navbar-brand mr-5" href="#">
        <strong>Project B</strong>
      </a>
    </mdb-navbar-brand>
    <links>
      <div class="navbar-nav">
        <a class="nav-item nav-link active waves-light" href="#" mdbWavesEffect> Home <span
            class="sr-only">(current)</span></a>
        <a class="nav-item nav-link waves-light" href="#" mdbWavesEffect> Blog </a>
        <a class="nav-item nav-link waves-light" href="#" mdbWavesEffect> About </a>
      </div>
      <div class="navbar-nav ml-auto nav-flex-icons">
        <div class="nav-item">
          <a class="nav-link">
            <div class="btn-group" mdbDropdown>
              <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>
              <div class="dropdown-menu dropdown-menu-right dropdown-primary">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="divider dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
            </div>
          </a>
        </div>
      </div>
    </links>
  
  </mdb-navbar>
  <!--/.Navbar-->